<main>
  <h1 class="text-3xl font-light text-cyan-700 text-center mb-4">My Shopping List</h1>
  <section class="bg-slate-100 border border-solid border-slate-200 rounded p-5 mb-8">
      <h2 class="text-xl font-light text-center mb-4">Add Items to Your List</h2>
      <form ngNativeValidate (ngSubmit)="addItem(itemInput.value); itemInput.value = ''">
        <sl-input #itemInput class="item-input mb-4" label="Item" placeholder="What do you need to buy?" size="medium" pill required="true" (sl-input)="getAutocompleteSuggestions(itemInput.value)">
          <!--<sl-icon-button slot="suffix" name="plus-circle-fill" label="Add Item to List" class="add-icon-button pr-2"></sl-icon-button>-->
          <sl-button type="submit" slot="suffix" variant="text" class="add-icon-button pr-2">
            <sl-icon name="plus-circle-fill" label="Add Item to List"></sl-icon>
          </sl-button>
        </sl-input>
        <sl-menu *ngIf="itemInput.value && filteredShoppingItems.length" (sl-select)="autoCompleteSelectAddItem($event); itemInput.value = ''">
          <div *ngFor="let group of filteredShoppingItems">
            <sl-menu-label>{{ group.category }}</sl-menu-label>
            <ng-container *ngFor="let item of group.items">
              <sl-menu-item value="{{ item }}">{{ item }}</sl-menu-item>
            </ng-container>
          </div>
        </sl-menu>
        <sl-dropdown style="width:100%;">
          <sl-button slot="trigger" caret pill outline variant="primary" style="width: 100%;">Choose Items to Add</sl-button>
          <sl-menu (sl-select)="autoCompleteSelectAddItem($event); itemInput.value = ''">
            <div *ngFor="let group of allShoppingItems">
              <sl-menu-label>{{ group.category }}</sl-menu-label>
              <ng-container *ngFor="let item of group.items">
                <sl-menu-item value="{{ item }}">{{ item }}</sl-menu-item>
              </ng-container>
            </div>
          </sl-menu>
        </sl-dropdown>
      </form>
  </section>
  <section class="mb-8">
      <h2 *ngIf="items.length" class="text-xl font-light mb-4">Things You Need</h2>
      <ul>
          <li *ngFor="let item of items; last as isLast" [class.border-b]="isLast" class="border-t flex justify-between items-center py-1">
              <sl-checkbox [checked]="item.completed" #listItemCheckbox (sl-change)="onCheckboxChange(item.id, listItemCheckbox.checked)" class="-mt-1">{{ item.label }}</sl-checkbox>
              <sl-icon-button name="x" label="Delete" class="delete-icon-button" (click)="removeItem(item.id)"></sl-icon-button>
          </li>
      </ul>
  </section>
</main>
