<main>

  <sl-dialog label="Confirm" #dialogConfirmRemove class="dialog-confirm-remove">
    <p>Are you sure you want to remove all items from the shopping&nbsp;list?</p>
    <sl-button slot="footer" variant="default" (click)="dialogConfirmRemove.hide()">Cancel</sl-button>
    <sl-button slot="footer" variant="primary" (click)="removeAllItems(); dialogConfirmRemove.hide()">Yes</sl-button>
  </sl-dialog>

  <sl-dialog label="Confirm" #dialogConfirmUncheck class="dialog-confirm-uncheck">
    <p>Are you sure you want to uncheck all items in the shopping&nbsp;list?</p>
    <sl-button slot="footer" variant="default" (click)="dialogConfirmUncheck.hide()">Cancel</sl-button>
    <sl-button slot="footer" variant="primary" (click)="uncheckAllItems(); dialogConfirmUncheck.hide()">Yes</sl-button>
  </sl-dialog>

  <sl-dialog label="Save List" #dialogSaveList class="dialog-save-list">
    <div>
      <sl-input #listNameInput label="List Name" aria-required="true"></sl-input>
    </div>
    <sl-button slot="footer" variant="default" (click)="dialogSaveList.hide()">Cancel</sl-button>
    <sl-button
      slot="footer"
      variant="primary"
      (click)="saveList(listNameInput.value); dialogSaveList.hide()"
      [disabled]="listNameInput.value == ''"
    >Save</sl-button>
  </sl-dialog>

  <sl-dialog label="Saved Lists" #dialogSavedLists class="dialog-saved-lists">
    <p class="mb-6">Choosing a list will replace your current list. If you want to save the items you currently have in your list, do that first.</p>
    <ul>
      <li
        *ngFor="let savedList of savedLists"
        class="border-y -mt-px py-1"
      >
        <sl-button variant="text" size="medium" (click)="loadList(savedList.id); dialogSavedLists.hide()">{{ savedList.name }}</sl-button>
      </li>
    </ul>
    <sl-button slot="footer" variant="default" (click)="dialogSavedLists.hide()">Close</sl-button>
  </sl-dialog>

  <h1 class="text-3xl font-light text-cyan-700 text-center mb-4">My Shopping List</h1>
  <section class="bg-slate-100 border border-solid border-slate-200 rounded p-5 mb-8">
      <h2 class="text-xl font-light text-center mb-4">Add Items to Your List</h2>
      <form ngNativeValidate (ngSubmit)="addItem(itemInput.value); itemInput.value = ''">
        <sl-input #itemInput class="item-input mb-4" label="Item" placeholder="What do you need to buy?" size="medium" pill required="true" autocapitalize="off" (sl-input)="getAutocompleteSuggestions(itemInput.value)">
          <!--<sl-icon-button slot="suffix" name="plus-circle-fill" label="Add Item to List" class="add-icon-button pr-2"></sl-icon-button>-->
          <sl-button type="submit" slot="suffix" variant="text" class="add-icon-button pr-2">
            <sl-icon name="plus-circle-fill" label="Add Item to List"></sl-icon>
          </sl-button>
        </sl-input>
        <sl-menu *ngIf="itemInput.value && filteredAutoCompleteShoppingItems.length" (sl-select)="autoCompleteSelectAddItem($event); itemInput.value = ''">
          <div *ngFor="let group of filteredAutoCompleteShoppingItems">
            <sl-menu-label>{{ group.category }}</sl-menu-label>
            <ng-container *ngFor="let item of group.items">
              <sl-menu-item value="{{ item }}" tabindex="0">{{ item }}</sl-menu-item>
            </ng-container>
          </div>
        </sl-menu>
        <sl-dropdown style="width:100%;">
          <sl-button slot="trigger" caret pill outline variant="primary" style="width: 100%;">Choose Items to Add</sl-button>
          <sl-menu (sl-select)="autoCompleteSelectAddItem($event); itemInput.value = ''">
            <div *ngFor="let group of allShoppingItems">
              <sl-menu-label>{{ group.category }}</sl-menu-label>
              <ng-container *ngFor="let item of group.items">
                <sl-menu-item value="{{ item }}" tabindex="0">{{ item }}</sl-menu-item>
              </ng-container>
            </div>
          </sl-menu>
        </sl-dropdown>
      </form>
  </section>
  <sl-radio-group *ngIf="items.length" class="mb-8 flex justify-center" label="Select an option">
    <sl-radio-button name="list-filter-all" value="all" [checked]="filteredListShoppingItems == 'all'" (click)="filteredListShoppingItems = 'all'">All</sl-radio-button>
    <sl-radio-button name="list-filter-need" value="need" [checked]="filteredListShoppingItems == 'need'" (click)="filteredListShoppingItems = 'need'">Need</sl-radio-button>
    <sl-radio-button name="list-filter-got" value="got" [checked]="filteredListShoppingItems == 'got'" (click)="filteredListShoppingItems = 'got'">Got</sl-radio-button>
  </sl-radio-group>
  <section class="mb-8">
      <h2 *ngIf="items.length && filteredListShoppingItems == 'all'" class="text-xl font-light mb-4">Shopping List</h2>
      <h2 *ngIf="items.length && filteredListShoppingItems == 'need'" class="text-xl font-light mb-4">Things You Need</h2>
      <h2 *ngIf="items.length && filteredListShoppingItems == 'got'" class="text-xl font-light mb-4">Things You Got</h2>
      <ul cdkDropList (cdkDropListDropped)="drop($event)" class="shopping-list-items">
          <li
            *ngFor="let item of listItemsToDisplay"
            class="border-y -mt-px flex justify-between items-center py-1"
            cdkDrag
          >
            <div class="list-item-placeholder" *cdkDragPlaceholder></div>
            <sl-checkbox [checked]="item.completed" #listItemCheckbox (sl-change)="onCheckboxChange(item.id, listItemCheckbox.checked)" class="-mt-1">{{ item.label }}</sl-checkbox>
            <div class="flex">
              <sl-icon
                [hidden]="listItemsToDisplay.length < 2"
                name="grip-horizontal"
                cdkDragHandle
                class="px-2 shopping-list-item-drag-handle"
              ></sl-icon>
              <sl-icon-button name="x" label="Delete" class="delete-icon-button" (click)="removeItem(item.id)"></sl-icon-button>
            </div>
          </li>
      </ul>
  </section>
  <div class="action-buttons">
    <sl-button
      *ngIf="items.length"
      variant="primary"
      size="medium"
      pill
      outline
      class="w-full mb-2"
      (click)="dialogConfirmRemove.show()"
    >Remove All Items from List</sl-button>
    <sl-button
      *ngIf="items.length"
      variant="primary"
      size="medium"
      pill
      outline
      class="w-full mb-2"
      (click)="dialogConfirmUncheck.show()"
    >Uncheck All Items</sl-button>
    <sl-button
      *ngIf="items.length"
      variant="primary"
      size="medium"
      pill
      outline
      class="w-full mb-2"
      (click)="dialogSaveList.show()"
    >Save This List</sl-button>
    <sl-button
      variant="primary"
      size="medium"
      pill
      outline
      class="w-full mb-2"
      (click)="dialogSavedLists.show()"
    >View Saved Lists</sl-button>
  </div>
</main>
